[Unit]
Description=Oprspedia

[Service]
ExecStart=/usr/bin/thin -R {{ source.path }}/src/oprspedia.ru -C {{ local_var_dir }}/config.yaml -l {{ local_var_dir }}/oprs.log -P {{ settings.pidfile }} -d start
PIDFile={{ settings.pidfile }}
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
