[Unit]
Description=Oprspedia

[Service]
PIDFile={{ settings.pidfile }}
ExecStart=/usr/bin/thin -C {{ source.path }}/src/oprspedia.ru -C {{ source.path }}/src/config.yaml start

[Install]
WantedBy=multi-user.target
