[Unit]
Description=Oprspedia

[Service]
PIDFile={{ settings.pidfile }}
ExecStart=/usr/bin/thin -C {{ source.path }}/src/oprspedia.ru -C {{ local_var_dir }}/config.yaml start

[Install]
WantedBy=multi-user.target
